
* {
  box-sizing: border-box;
}

header {
  background-color: rgb(82, 79, 79);
  color: white;
  height: 150px;
  display: flex;
  justify-content:space-around;
  align-items: center;
  font-size: 25px;
  border-radius: 15px 15px 0px 0px;
}

header>div {
  padding: 2%;
}
/* media when less than 1325px width make taller */

.player-area {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 600px;
}

button {
  height: 75px;
  width: 150px;
  font-size: 20px;
  margin: 5px;
}

.buttons {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width:auto;
}

.mode-input > label{
  padding: 0px 0px 0px 5px;
}

.mode-input {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-around;
  height: 100px;
}

input {
  font-size: 20px;
}

select {
  font-size: 20px;
}

body {
  margin: 4vh auto 4vh auto;
  width: 90vw;
  height: 90vh;
  max-width: 1500px;
  max-height: 2000px;
  /*! min-height: 1000px; */
  border: 4px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items:stretch;
  justify-content: center;
  box-shadow: 10px 6px 7px rgb(189, 183, 183);
}

.board-container {
  display: grid;
  grid-template-areas:
    'zero one two'
    'three four five'
    'six seven eight';
  height: 60%;
  width: 60%;
  margin: auto;
  /*! padding: 2%; */
}

.boardCell {
  /* border: 8px solid black; */
  color: black;
  height: 100%;
  width: 100%;
  font-size: rem;
  font-family: Arial;
  font-size: 10em;
  line-height: 60%;
  text-align: center;
}

.boardCell:hover {
  background-color: rgb(166, 204, 166);
}

#player-boxes {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 550px;
}

.one-player-input {
  align-self: flex-start;
  padding: 6px;
}

.two-player-input {
  padding: 6px;
}

.hidden-player-input {
  display: none;
}

/*#region Cell Styles*/ 
#cell0 {
  grid-area: zero;
  border-right: 8px solid black;
  border-bottom: 8px solid black;
}

#cell1 {
  grid-area: one;
  border-right: 8px solid black;
  border-bottom: 8px solid black;
}

#cell2 {
  grid-area: two;
  border-bottom: 8px solid black;
}

#cell3 {
  grid-area: three;
  border-right: 8px solid black;
  border-bottom: 8px solid black;
}

#cell4 {
  grid-area: four;
  border-right: 8px solid black;
  border-bottom: 8px solid black;
}

#cell5 {
  grid-area: five;
  border-bottom: 8px solid black;
}

#cell6 {
  grid-area: six;
  border-right: 8px solid black;
}

#cell7 {
  grid-area: seven;
  border-right: 8px solid black;
}

#cell8 {
  grid-area: eight;
}
/*#endregion*/

.Modal {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.5s;
  overflow: auto;
  transition: all 0.3s linear;
}

.Modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border-radius: 4px;
  max-width: 300px;
  height: 300px;
  text-align: center;
  font-size: 5rem;
}

.ModalOpen { overflow: hidden; }

.is-hidden { display: none; }

.is-visuallyHidden { opacity: 0; }

.Close {
  color: #aaaaaa;
  float: right;
  font-size: 16px;
}

.Close:hover, .Close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.is-blurred {
  filter: blur(10px);
  -webkit-filter: blur(10px);
}

@media (max-width: 1502px) {
  body {
    min-width: 700px;
  }
  
  header {
    height: 150px;
  }
}



@media (max-width: 1533px) {
  body {
    width: 750px;
    height: 1200px;
  }

  header {
    height: 385px;
    min-width: 750px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-around;
  }

  #player-boxes {
    justify-content: center;
  }

  button {
    width: 200px;
  }
}

